<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="blog">
      <h2 data-cy="blogDetailsHeading"><span jhiTranslate="marbleApp.blog.detail.title">Blog</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ blog.id }}</span>
        </dd>
        <dt><span jhiTranslate="marbleApp.blog.title">Title</span></dt>
        <dd>
          <span>{{ blog.title }}</span>
        </dd>
        <dt><span jhiTranslate="marbleApp.blog.description">Description</span></dt>
        <dd>
          <span>{{ blog.description }}</span>
        </dd>
        <dt><span jhiTranslate="marbleApp.blog.date">Date</span></dt>
        <dd>
          <span>{{ blog.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="marbleApp.blog.user">User</span></dt>
        <dd>
          <span>{{ blog.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/blog', blog.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
