<div>
  <h2 id="page-heading" data-cy="MarbleHeading">
    <span jhiTranslate="marbleApp.marble.home.title">Marbles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="marbleApp.marble.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-marble"
        [routerLink]="['/marble/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="marbleApp.marble.home.createLabel"> Create a new Marble </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="marbles?.length === 0">
    <span jhiTranslate="marbleApp.marble.home.notFound">No marbles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="marbles && marbles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.image">Image</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.colour">Colour</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.pattern">Pattern</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.homogeneous">Homogeneous</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.vein">Vein</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.stratification">Stratification</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.crack">Crack</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.crackStatus">Crack Status</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.quality">Quality</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.price">Price</span></th>
          <th scope="col"><span jhiTranslate="marbleApp.marble.seller">Seller</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let marble of marbles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/marble', marble.id, 'view']">{{ marble.id }}</a>
          </td>
          <td>
            <a *ngIf="marble.image" (click)="openFile(marble.image, marble.imageContentType)">
              <img [src]="'data:' + marble.imageContentType + ';base64,' + marble.image" style="max-height: 30px" alt="marble image" />
            </a>
            <span *ngIf="marble.image">{{ marble.imageContentType }}, {{ byteSize(marble.image) }}</span>
          </td>
          <td>{{ marble.colour }}</td>
          <td>{{ marble.pattern }}</td>
          <td>{{ marble.homogeneous }}</td>
          <td>{{ marble.vein }}</td>
          <td>{{ marble.stratification }}</td>
          <td>{{ marble.crack }}</td>
          <td>{{ marble.crackStatus }}</td>
          <td>{{ marble.quality }}</td>
          <td>{{ marble.price }}</td>
          <td>
            <div *ngIf="marble.seller">
              <a [routerLink]="['/seller', marble.seller?.id, 'view']">{{ marble.seller?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/marble', marble.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/marble', marble.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(marble)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
